flask 
requests 
beautifulsoup4 
python-dotenv 
serpapi 
huggingface_hub  
langchain==0.3.25
langchain-community==0.3.23
langchain-huggingface==0.2.0
tiktoken 
google-search-results 
streamlit 
chromadb 
sentence-transformers 
groq